{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}
<hr>
{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
{{#contentFor "initHighlight"}}
    <script>hljs.initHighlightingOnLoad();</script>
{{/contentFor}}




<main  role="main">

    <article class="row {{post_class}}">

        <header class="col-xs-12">
        <div class="col-md-10 no-margin no-padding">
            <h1 class="title">
            {{title}}

            </h1>
             </div>
<div class="col-md-2">
{{#if image}}
            <img src="{{image}}" class="post-image"/>
            {{/if}}
            </div>

        </header>

        <section class="col-xs-12">
            {{content}}
        </section>

        <footer class="col-xs-12 author">

            <hr>


        </footer>

    </article>
</main>

{{/post}}
